*{
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  /* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
  font-size: 98%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  
  }
  
  window#waybar {
      background: rgba(0, 0, 0, 0);
      /*border-bottom: 1px solid @unfocused_borders;*/
      /*border-radius: 10px;*/
      /*color: #cba6f7;*/
      /*border: 1px solid #cba6f7;*/
  }
  
  window#waybar.hidden {
      opacity: 0.5;
  }
     
  tooltip {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 10px;
      /*border: 1px solid #cba6f7;*/
  }
  
  tooltip label {
      color: #cba6f7;
      margin-right: 2px;
      margin-left: 2px;
  }
  
  /*-----module groups----*/
  .modules-right {
      background-color: rgba(0, 0, 0, 0.6);
      border: 0px solid #b4befe;
      border-radius: 10px;
  }
  
  .modules-center {
      background-color: rgba(0, 0, 0, 0.6);
      border: 0px solid #b4befe;
      border-radius: 10px;
  }
  
  .modules-left {
      background-color: rgba(0, 0, 0, 0.6);
      border: 0px solid #b4befe;
      border-radius: 10px;
     
  }
  
  #workspaces button {
      padding: 2px;
      color: #6E6A86;
      margin-right: 5px;
  }
     
  #workspaces button.active {
      color: #cba6f7;
      border-radius: 15px 15px 15px 15px;
  }
    
  #workspaces button.focused {
      color: #d8dee9;
  }
     
  #workspaces button.urgent {
      color: #11111b;
      border-radius: 10px;
  }
         
  #workspaces button:hover {
      color: #9CCFD8;
      border-radius: 15px;
  }
  
  #clock,
  #battery,
  #cpu,
  #memory,
  #disk,
  #temperature,
  #network,
  #pulseaudio,
  #wireplumber,
  #mode,
  #tray,
  #cava,
  #backlight,
  #window,
  #idle_inhibitor,
  #keyboard-state,
  #keyboard-state label,
  #keyboard-state label.locked,
  #mpd,
  #bluetooth,
  #taskbar,
  #taskbar button,
  #workspaces,
  #custom-light_dark,
  #custom-updater,
  #custom-menu,
  #custom-cycle_wall,
  #custom-power,
  #custom-spotify,
  #custom-weather,
  #custom-power,
  #custom-lock,
  #custom-weather.severe,
  #custom-weather.sunnyDay,
  #custom-weather.clearNight,
  #custom-weather.cloudyFoggyDay,
  #custom-weather.cloudyFoggyNight,
  #custom-weather.rainyDay,
  #custom-weather.rainyNight,
  #custom-weather.showyIcyDay,
  #custom-weather.snowyIcyNight,
  #custom-weather.default, 
  #idle_inhibitor {
    color: #cba7f7;
    padding: 0px 10px;
    border-radius: 10px;
  }
  
  
  
  #temperature.critical {
    background-color: #ff0000;
  }
  
  @keyframes blink {
    to {
      color: #000000;
    }
  }
  
  #taskbar button.active {
    background-color: #7f849c;
  }
  
  #battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }